.card {
  border-radius: 8px;
  width: 240px;
}

.image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image > div > img {
  max-height: 96px;
  max-width: 96px;
}

.button {
  margin-top: 16px;
}

.ant-card-body {
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
}
